* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  border: none;
  outline: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif; /* Fontes padrão */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Adicionando um estilo de cursor claro */
/* a:hover, button:hover, li:hover {
    cursor: pointer;
} */
